@layer base, utils, components;

@import '@webtui/css/base.css';

/* Utils */
@import '@webtui/css/utils/box.css';

/* Components */
@import '@webtui/css/components/button.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/switch.css';

/* Theme */
@import '@webtui/theme-gruvbox';
@import '@webtui/theme-everforest';

/* Plugins */
@import '@webtui/plugin-nf';

/* Base theme customization */
@layer base {
  :root {
    --font-size: 18px;
    --font-family: 'JetBrainsMono', monospace, 'Symbols Nerd Font';
  }

  /* Decrease font size on mobile devices */
  @media (max-width: 768px) {
    :root {
      --font-size: 14px;
    }
  }
}
